<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true">
	<display-name>RestPreview</display-name>
	
	<servlet>
		<description></description>
		<display-name>RestPreviewServlet</display-name>
		<icon>
			<small-icon></small-icon>
			<large-icon></large-icon>
		</icon>
		<servlet-name>RestPreviewServlet</servlet-name>
		<servlet-class>com.ibm.commerce.context.preview.servlet.RestPreviewServlet</servlet-class>
		<init-param>
			<param-name>targetWebAppName</param-name>
			<param-value>Stores</param-value>
		</init-param>
		<init-param>
			<param-name>webpath</param-name>
			<param-value>/wcs/previewresources</param-value>
		</init-param>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RestPreviewServlet</servlet-name>
		<url-pattern>/*</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>
	
	<filter>
		<icon></icon>
		<filter-name>RestPreviewFilter</filter-name>
		<filter-class>com.ibm.commerce.context.preview.servlet.RestPreviewFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>RestPreviewFilter</filter-name>
		<servlet-name>RestPreviewServlet</servlet-name>
	</filter-mapping>
	
    <filter>
    	<description>
    	</description>
    	<display-name>RestTransactionFilter</display-name>
    	<filter-name>RestTransactionFilter</filter-name>
    	<filter-class>com.ibm.commerce.rest.filter.RestTransactionFilter</filter-class>
    </filter>

    <filter-mapping>
    	<filter-name>RestTransactionFilter</filter-name>
    	<servlet-name>RestPreviewServlet</servlet-name>
    </filter-mapping>
	
    <filter>
    	<description>
    	</description>
    	<display-name>StoreAssetsFilter</display-name>
    	<filter-name>StoreAssetsFilter</filter-name>
    	<filter-class>com.ibm.commerce.rest.filter.StoreAssetsFilter</filter-class>
    	<init-param>
	      <param-name>pathPrefix</param-name>
	      <param-value>/store/0/storeAsset</param-value>
	    </init-param>
	    <init-param>
	      <param-name>assetPathParameter</param-name>
	      <param-value>assetPath</param-value>
	    </init-param>
    </filter>
    <filter-mapping>
    	<filter-name>StoreAssetsFilter</filter-name>
    	<url-pattern>/store/0/storeAsset/*</url-pattern>
    </filter-mapping>
	
    <filter>
    	<filter-name>CORSFilter</filter-name>
    	<filter-class>
    		com.ibm.commerce.foundation.server.services.servlet.filter.HttpSecurityFilter
    	</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>CORSFilter</filter-name>
    	<servlet-name>RestPreviewServlet</servlet-name>
    </filter-mapping>
    
    <listener>
		<description>Servlet listener that initializes Commerce REST Preview configuration </description>
		<listener-class>com.ibm.commerce.rest.config.CommerceRestPreviewConfigListener</listener-class>
	</listener>
	
</web-app>
