# Add any directories, files, or patterns you don't want to be tracked by version control
*.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_LINKNAME-LINK.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_LINKTEXT-LINK.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_LINKTYPE-LINK.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_MODELINSTANCEID_REF-RESOLVED_REFERENCE.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_REFERENCE_ID-RESOLVED_REFERENCE.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_REFERENCETYPE-REFERENCE.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_SOURCELINKID-REFERENCE.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_SOURCELINKID-RESOLVED_REFERENCE.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_SOURCEPATH-LINK.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_SOURCEPATH-RESOLVED_REFERENCE.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_TARGETLINKID-RESOLVED_REFERENCE.e0
.metadata/.plugins/com.ibm.etools.references/refDB/BY_TARGETPATH-RESOLVED_REFERENCE.e0
.metadata/.plugins/com.ibm.etools.references/refDB/LINK-BY_SOURCEPATH-BY_LINKTYPE.e0
.metadata/.plugins/com.ibm.etools.references/refDB/string.db.e0
.metadata/.plugins/com.ibm.etools.references/refDB/string.idx.e0
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
