<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>PageLayoutServicesHTTPInterface</display-name>
	<servlet>
		<display-name>PageLayoutServicesHTTPInterface</display-name>
		<servlet-name>PageLayoutServices</servlet-name>
		<servlet-class>com.ibm.ws.webservices.engine.transport.http.WebServicesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageLayoutServices</servlet-name>
		<url-pattern>services/PageLayoutServices</url-pattern>	
	</servlet-mapping>
</web-app>